@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --background1: #fccf2f;
  --background2: #f7b747;
  --background3: #df982f;
  --background4: #bf7f2f;
  --background5: #fcdf7f;
  --text1: #fdefa0;
  --text2: #f1ff2f;
  --shadow1: #4f2f00;
  --shadow2: #3f1f0f;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Megrim', cursive;
  height: 100vh;
  background-color: var(--background1);
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header,
main,
footer {
  width: 1100px;
  min-width: 320px;
  margin: 0 auto 0.65rem;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px var(--shadow1),
  8px 6px 4px 0px var(--background4);
  display: flex;
}

header {
  background-color: var(--background2);
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--background3);
  justify-content: flex-start;
  padding: 0.25rem 0;
}

footer {
  background-color: var(--background4);
  color: var(--text1);
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px var(--shadow2);
  justify-content: center;
  padding: 0.1rem 0;
}

h1 {
  color: var(--text1);
  text-shadow: 3px 2px 3px var(--shadow1);
  text-align: center;
  font-size: 3.5rem;
  flex: 1;
}

button {
  background-color: var(--background4);
  color: var(--black);
  cursor: pointer;
}

header button {
  font-family: cursive;
  background-color: var(--background4);
  border: 2px outset var(--background1);
  outline: solid 1px var(--background4);
  outline-offset: 0px;
  border-radius: 50%;
  padding: 0.25rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

nav {
  flex: 0 0 18%;
}

ul {
  margin-top: 0.75rem;
  margin-left: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  align-items: flex-start;
}

li {
  margin-bottom: 0.4rem;
}

li:nth-of-type(4) {
  margin-top: 1.2rem;
}  

li.ratio {
  display: flex;
  align-items: center;
  border: 1px solid var(--shadow1);
  padding: 0 3px;
}

#ratio {
  background-color: var(--shadow2);
  width: 72px;
  height: 24px;
  margin: 0.2rem 0;
  padding: 4px 8px 0px;
  text-align: right;
  color: var(--text2);
}

button.ratio {
  font-family: inherit;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 0 4px;
  height: 24px;
  margin-left: 0.1rem;
}

button.common {
  width: 120px;
  padding: 2px 0;
  font-family: inherit;
  font-size: 1.05rem;
}      

button.common.toggle-on {
  background-color: var(--background5);
  border-radius: 3px;
}      

li:last-of-type {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

#color-picker {
  width: 120px;
  height: 32px;
  background-color: var(--background4);
  border: 1px solid var(--shadow1);
  border-radius: 2px;
  cursor: pointer;
}

#board {
  width: 800px;
  height: 800px;
  display: grid;
  justify-content:center;
  align-content: center;
  background-color: var(--background3);
  grid-template: repeat(var(--grid), 1fr) / repeat(var(--grid), 1fr);
}    

.current {
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}  

footer a:link {
  text-decoration-line: none;
  color: var(--background5);
}

footer a:visited {
  color: var(--background5);
}

footer a:hover {
  text-decoration-line: underline;
}

@media screen and (max-width: 1111px) {
  header,
  main,
  footer {
    width: 1000px;
  }
  #board {
    width: 740px;
    height: 740px;
  }
}

@media screen and (max-width: 1011px) {
  header,
  main,
  footer {
    width: 900px;
  }
  #board {
    width: 640px;
    height: 640px;
  }
}

@media screen and (max-width: 911px) {
  header,
  main,
  footer {
    width: 800px;
  }
  #board {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 811px) {
  html {
    font-size: 14px;
  }
  header,
  main,
  footer {
    width: 700px;
  }
  nav {
    flex: 0 0 20%;
  }
  #board {
    width: 500px;
    height: 500px;
  }
  #ratio {
    background-color: var(--shadow2);
    width: 64px;
  }
  button.common,
  #color-picker {
    width: 110px;
  }      
}

@media screen and (max-width: 711px) {
  html {
    font-size: 12px;
  }
  header,
  main,
  footer {
    width: 560px;
  }
  nav {
    flex: 0 0 22%;
  }
  #board {
    width: 400px;
    height: 400px;
  }
  #ratio {
    background-color: var(--shadow2);
    width: 58px;
  }
  button.common,
  #color-picker {
    width: 101px;
  }
}

@media screen and (max-width: 611px) {
  header,
  main,
  footer {
    width: 400px;
  }
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
  nav {
    flex: 0 0 0;
  }
  ul {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }
  li:nth-of-type(4) {
    margin-top: 0;
  }
  h1 {
    font-size: 3.0rem;
  }
  #board {
    width: 320px;
    height: 320px;
  }
  #ratio {
    background-color: var(--shadow2);
    width: 66px;
  }
  li:last-of-type {
    flex-direction: column-reverse;
    height: 37px;
  }
  button.common,
  #color-picker {
    width: 106px;
  }
}

@media screen and (max-width: 411px) {
  header,
  main,
  footer {
    width: 300px;
  }
  h1 {
    font-size: 2.5rem;
  }
  #board {
    width: 240px;
    height: 240px;
  }
}
